<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.FavMapper">
	<select id="findFavList"  resultType="Fav">
		select * from fav 
	</select>
	
	<select id="query" parameterType="java.util.Map" resultType="Fav">


        select  * from fav 
		<include refid="where"></include>

		order by ${sort} id desc
		  <if test="page">
			limit #{offset} ,#{pageSize}
		</if>
	</select>
	
	
	<select id="getCount" parameterType="java.util.Map" resultType="Int">
		select count(0) from fav
		<include refid="where"></include>
	</select>

	<sql id="where">
		<where>
		   1=1
		  <if test="id != null and id != 0">
		    and id = #{id}
		</if>
		  <if test="uid != null and uid != 0">
		    and uid = #{uid}
		</if>
		  <if test="uname != null and uname != ''">
		    and instr(uname,#{uname})>0
		</if>
		  <if test="cid != null and cid != 0">
		    and cid = #{cid}
		</if>
		  <if test="cname != null and cname != ''">
		    and instr(cname,#{cname})>0
		</if>

        <if test="condition != null and condition != ''">
			 and  ${condition}
		</if>
		</where>
	</sql>
	
	
	<select id="queryFavById" parameterType="int" resultType="Fav">
		select * from fav  where id=${value}
	</select>
 


	<insert id="insertFav" useGeneratedKeys="true" keyProperty="id" parameterType="Fav">
		insert into fav
    (uid,uname,cid,cname,addtime)
    values
    (#{uid},#{uname},#{cid},#{cname},now());
	</insert>



	<update id="updateFav" parameterType="Fav" >
		update fav 
		<set>
		  <if test="uid != null and uid != 0">
		    uid = #{uid},
		</if>
		  <if test="uname != null and uname != ''">
		    uname = #{uname},
		</if>
		  <if test="cid != null and cid != 0">
		    cid = #{cid},
		</if>
		  <if test="cname != null and cname != ''">
		    cname = #{cname},
		</if>

		</set>
		where
		<if test="condition != null and condition != ''">
			   ${condition}
		</if>
		<if test="condition == null or condition == ''">
				id=#{id}
		</if>	
	</update>
	
 
	
	<delete id="deleteFav" parameterType="int">
	    delete from  fav where id=${value}
	</delete>

    <select id="exist" resultType="java.lang.Boolean">
		select case when COUNT(*) > 0 then 1 else 0 end
		from fav
		<where>
		  <if test="uid != null and uid != 0">
		    and uid = #{uid}
		</if>
		  <if test="cid != null and cid != 0">
		    and cid = #{cid}
		</if>

		</where>
    </select>

</mapper>

 